<section class="shelter-list">
  <%= link_to 'New Shelter', "/shelters/new" %>

  <ul>
    <% @shelters.each do |shelter| %>
    <div id="shelter-list-item-<%= shelter.id %>">
      <li ><%= shelter.name %></li>
      <%= link_to 'Edit Shelter', "/shelters/#{shelter.id}/edit" %>
      <%= link_to 'Delete Shelter', "/shelters/#{shelter.id}", method: :delete %>
    </div>


    <% end %>
  </ul>
</section>
